<h3>Clientes</h3>
<ol class="breadcrumb">
  <li class="active">Lista de clientes</li>
</ol>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-lg-12 text-right">
			<a ng-href="#/cliente/new"><button type="button" ng-click="teste()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Novo</button></a>
			<div class="btn-group">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Cod.</th>
					<th>Nome</th>
					<th>CPF</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox"></input></td>
					<td>1</td>
					<td>Junior</td>
					<td>0505050505</td>
				</tr>
				<tr>
					<td><input type="checkbox"></input></td>
					<td>2</td>
					<td>João</td>
					<td>0505050505</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>