<h3>Clientes</h3>
<ol class="breadcrumb">
  <li class="active">Lista de clientes</li>
</ol>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-lg-12 text-right">
			<a ng-href="#/cliente/new"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Novo</button></a>
			<!--<div class="btn-group">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
			</div>-->
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Cod.</th>
					<th>Nome</th>
					<th>CPF</th>
					<th>Acão</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="client in AllClient">
					<td><input type="checkbox"/></td>
					<td>{{client.ClienteID}}</td>
					<td style="cursor: pointer"  ng-click="getClientById(client.ClienteID)" data-toggle="modal" data-target="#viewClient"><a>{{client.nome}}</a></td></td>
					<td>{{client.CPF}}</td>
					<td>
						<a ng-href="#/cliente/update/{{client.ClienteID}}"><span data-toggle="tooltip" data-placement="top" title="Editar" class="glyphicon glyphicon-pencil"></span></a> 
						<a ng-click="delete(client.ClienteID)" ><span data-toggle="tooltip" data-placement="top" title="Excluir" class="glyphicon glyphicon-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="viewClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cliente</h4>
      </div>
      <div class="modal-body">
        {{clientUpdate.nome}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<!-- O background do modal continua -->
        <!--<a ng-href="#/cliente/update/{{clientUpdate.ClienteID}}"><button type="button" class="btn btn-primary">Editar</button></a>-->
      </div>
    </div>
  </div>
</div>