<h3>Fornecedores</h3>
<ol class="breadcrumb">
  <li><a ng-href="#/fornecedor">Lista de fornecedores</a></li>
  <li class="active">Editar fornecedor</li>
</ol>
<div class="panel panel-default">
	<div class="panel-body">
		<form class="form-horizontal" ng-submit="fornecedorUpdate(fornecedor)">
			<h4>Dados pessoais:</h4>
			<div class="form-group">
				<label class="col-lg-2 control-label">Código</label>
				<div class="col-lg-10">
					<label class="form-control" ng-model="fornecedor.FornecedorID">{{fornecedor.FornecedorID}}</label>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Razão Social</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" maxlength="150" ng-model="fornecedor.razaoSocial" required="required"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">CNPJ</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.CNPJ" ui-br-cnpj-mask required="required"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Nome Fantasia</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" maxlength="150" ng-model="fornecedor.nomeFantasia"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">IE</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" maxlength="15" ng-model="fornecedor.IE"/>
				</div>
			</div>
			<!--/from-group-->
			<hr class="divider"/>
			
			<h4>Endereço:</h4>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Logradouro</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.endereco.logradouro" maxlength="150" required="required"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Complemento</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.endereco.complemento" maxlength="150"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Número</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.endereco.numero" maxlength="6" required="required"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">CEP</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.endereco.CEP" ui-br-cep-mask/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Bairro</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.endereco.bairro" maxlength="50"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Cidade</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.endereco.cidade" maxlength="150" required="required"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Estado</label>
				<div class="col-lg-2">
					<select class="form-control" ng-init="ufs=['CE', 'RJ', 'RS', 'AL']" ng-model="fornecedor.endereco.estado" ng-options="uf for uf in ufs"></select>
				</div>
			</div>
			<hr class="divider"/>
			
			<h4>Contato</h4>
			<div class="form-group">
				<label class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="email" class="form-control" ng-model="fornecedor.contato.email" maxlength="150" required="required"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Telefone fixo</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.contato.telefone" ui-br-phone-number required="required"/>
				</div>
			</div>
			<!--/from-group-->
			<div class="form-group">
				<label class="col-lg-2 control-label">Telefone celular</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="fornecedor.contato.celular" ui-br-phone-number required="required"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-12 text-right">
					<button class="btn btn-success" type="submit">Atualizar</button>
				</div>
			</div>
		</form>
	</div>
</div>